<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>copyCAT API TEST</title>
    <script>

    </script>
</head>
<body>
<strong>TEST</strong>

<form enctype="multipart/form-data" id="upload_form" role="form" method="post" action="{% url 'api' %}"
      style="padding-bottom: 20px">

    <h2 class="form-signin-heading">Upload</h2>

    <label class="control-label" for="id_caption">Caption</label>
    <input id="id_caption" maxlength="128" name="caption" type="text">

    <label class="control-label" for="id_category">Category</label>
    <input id="id_category" maxlength="128" name="category" type="text"/>

    <label class="control-label" for="id_image">Image</label>
    <input id="id_image" name="image" type="file"/>

    <button class="btn btn-danger" type="submit" name="submit">UPLOAD</button>
</form>

</body>
</html>