<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>copyCAT API</title>
    <script>

    </script>
</head>
<body>
<strong>TEST</strong>

<form enctype="multipart/form-data" id="upload_form" role="form" method="post" action="{% url 'api' %}"
      style="padding-bottom: 20px">
    {% csrf_token %}
    <h2 class="form-signin-heading">Upload</h2>

    <div class="control-group required">
        <label class="control-label" for="id_caption">Caption</label>
        <div class="controls">
            <input id="id_caption" maxlength="128" name="caption" type="text">
        </div>
    </div>
    <div class="control-group required">
        <label class="control-label" for="id_category">Category</label>
        <div class="controls">
            <input id="id_category" maxlength="128" name="category" type="text">
        </div>
    </div>
    <div class="control-group required">
        <label class="control-label" for="id_image">Image</label>

        <div class="controls">
            <input id="id_image" name="image" type="file">
        </div>
    </div>
    <button class="btn btn-danger" type="submit" name="submit">UPLOAD</button>
</form>

</body>
</html>