<!DOCTYPE html>
<html>
    <head>
        <title>copyCAT</title>
    </head>

    <body>
        <h1>Cat says... mauuuuu!</h1>
        <h1>{{ page_name }}</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        {% if images %}
            <ul>
                {% for image in images %}
                    <li>{{ image.caption }} and {{ image.image }}</li>
                    <li><img src="/media/{{ image.image }}"></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no image present.</strong>
        {% endif %}
    </body>
</html>