{% extends 'image_hosting/base.html' %}

{% block title %}{{ page_name }}{% endblock title %}

{% block page_name_block %}{{ page_name }}{% endblock page_name_block %}

{% block body_block %}
    {% if images %}
        <table>
            {% for chunk in images %}
                <tr>
                    {% for image in chunk %}
                        <td style="width: 50%;">
                            <div class="box" style="display:inline-block; width: 95%;">
                                <div class="image">
                                    <a href="{% url 'view' image.image.name %}">
                                        <img src="/media/{{ image.image }}" class="img-thumbnail"/>
                                    </a>

                                    <div class="btn-group" role="group" style="width:100%;">
                                        <button type="button" onclick="vote({{ image.id }}, 'up');" class="btn btn-success" style="width:20%;" {% if image.id in all_votes %}disabled{% endif %} id="id_btn_up_{{ image.id }}">
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" style="width:60%;">
                                            <strong id="id_count_{{ image.id }}">{{ image.up_votes }}/{{ image.down_votes }}</strong>
                                        </button>
                                        <button type="button" onclick="vote({{ image.id }}, 'down');" class="btn btn-danger" style="width:20%;" {% if image.id in all_votes %}disabled{% endif %} id="id_btn_down_{{ image.id }}">
                                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-bottom: 20px;"></div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <strong>There are no image present.</strong>
    {% endif %}
{% endblock body_block %}